<?xml version='1.0' encoding='utf-8'?>
<widget id="sap.ui5" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Thiên Hòa POS</name>
    <description>
        Thiên Hòa POS.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        FPT UI5 team
    </author>
    <icon src="res/icon/icon.png" />
    <splash src="res/screen/screen-hdpi-landscape.png" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <engine name="android" spec="^6.2.3" />
    <plugin name="com.qdev.webintent" spec="~1.0.1" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.6.3" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
